<main>
  <div class="products">
    <div class="products-list">
      <mat-card
        *ngFor="let product of products"
        class="products-list__item"
        (click)="selectProduct($event)"
        >{{ product.ProductDescription }}</mat-card
      >
    </div>
    <div class="product-details">
      <table class="product-details__item" *ngIf="selectedProduct">
        <tr>          
          <th>Name</th>
          <td>{{selectedProduct.ProductDescription}}</td>
        </tr>
        <tr>          
          <th>Id</th>
          <td>{{selectedProduct.ProductId}}</td>
        </tr>
        <tr>          
          <th>Color</th>
          <td>{{selectedProduct.ColorIdx}}</td>
        </tr>
        <tr>          
          <th>Code</th>
          <td>{{selectedProduct.ProductCode}}</td>
        </tr>
        <tr>          
          <th>Price</th>
          <td>{{selectedProduct.Price}}</td>
        </tr>
        <tr [ngSwitch]="selectedProduct.VoDatum">          
          <th>VoDatum</th>
          <td *ngSwitchCase="null">It's unknown</td>
          <td *ngSwitchDefault>{{selectedProduct.VoDatum}}</td>
        </tr>
        <tr>          
          <th>Heavy</th>
          <td>{{selectedProduct.IsHeavy}}</td>
        </tr>
        <tr [ngSwitch]="selectedProduct.RestrictedLands">          
          <th>Restricted lands</th>
          <td *ngSwitchCase="null">It's unknown</td>
          <td *ngSwitchDefault>{{selectedProduct.RestrictedLands}}</td>
        </tr>
        <tr>          
          <th>Is Fsk</th>
          <td>{{selectedProduct.IsFsk}}</td>
        </tr>
        <tr>          
          <th>Is Ordergruppe C</th>
          <td>{{selectedProduct.IsOrdergruppeC}}</td>
        </tr>
        <tr>          
      </table>
      <button 
      class="product-details__close-btn"
      *ngIf="selectedProduct"
      mat-raised-button
      color="primary"
      (click)="closeSelectedProduct()">Close</button>
    </div>
  </div>
</main>
